.rs-footer {
  padding: 130px 0px 0px;
}
@media (max-width: 1439.98px) {
  .rs-footer {
    padding: 106px 0px 0px;
  }
}
@media (max-width: 1169.98px) {
  .rs-footer {
    padding: 82px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-footer {
    padding: 56px 0px 0px;
  }
}
.rs-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .rs-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-footer__wrapper:last-child {
  margin-top: 85px;
  padding: 40px 0px 43px;
  border-top: 1px solid #000;
}
@media (max-width: 991.98px) {
  .rs-footer__wrapper:last-child {
    margin-top: 62px;
    padding: 16.5px 0px;
  }
  .rs-footer__wrapper:last-child .rs-footer__contact {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .rs-footer__wrapper:first-child .rs-footer__contact {
    display: none;
  }
}
.rs-footer__text {
  margin-top: -14px;
}
@media (max-width: 1439.98px) {
  .rs-footer__text {
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  .rs-footer__text {
    margin-bottom: 48px;
  }
}
.rs-footer__social {
  width: 100%;
  max-width: 223px;
  height: 231px;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-footer__social {
    max-width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.rs-footer__social_item {
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991.98px) {
  .rs-footer__social_item {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 18px 18px;
    width: 100%;
  }
  .rs-footer__social_item:not(:last-child) {
    margin-right: 24px;
  }
}
.rs-footer__social_item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #0066ff;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1), -webkit-transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.rs-footer__social_item svg {
  position: relative;
  z-index: 10;
}
@media (any-hover: hover) {
  .rs-footer__social_item:hover::before {
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  }
}
.rs-footer__social_tg {
  width: 136px;
  height: 136px;
  top: 0;
  left: 0;
  background: #248af2;
}
@media (max-width: 991.98px) {
  .rs-footer__social_tg {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
}
.rs-footer__social_tg svg {
  width: 101px;
}
@media (max-width: 991.98px) {
  .rs-footer__social_tg svg {
    width: 100px;
  }
}
.rs-footer__social_yt {
  width: 105px;
  height: 105px;
  bottom: 0;
  right: 0;
  background: #fff;
}
@media (max-width: 991.98px) {
  .rs-footer__social_yt {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
}
.rs-footer__social_yt svg {
  width: 76px;
}
@media (max-width: 991.98px) {
  .rs-footer__social_yt svg {
    width: 95px;
    height: auto;
  }
}
.rs-footer__copyright {
  font-weight: 500;
  font-size: 17px;
  color: #111;
}
@media (max-width: 991.98px) {
  .rs-footer__copyright {
    font-size: 12px;
  }
}
.rs-footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .rs-footer__contact {
    margin-top: 10px;
  }
}
.rs-footer__contact li {
  font-weight: 500;
  font-size: 17px;
  color: #111;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-footer__contact li {
    font-size: 18px;
  }
}
.rs-footer__contact li:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 991.98px) {
  .rs-footer__contact li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (any-hover: hover) {
  .rs-footer__contact li:hover {
    color: #248af2;
  }
}