.rs-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: background-color 0.3s ease 0s !important;
	background-color: #f3f3f3;
	background-image: url("../img/blocks/body_bg.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 991.98px) {
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			height: 1px;
			width: 0%;
			background-color: #000;
			transition: all 0.5s ease-in-out 0s;
		}

		&._header-scroll {
			&::after {
				width: 100%;
				left: 0;
			}
		}
	}

	@media (max-width: 991.98px) {
		.menu-open & {
			background-color: #248af2;
			background-image: unset;
		}
	}

	// .rs-header__container
	&__container {
	}

	// .rs-header__wrapper
	&__wrapper {
		display: flex;
		align-items: flex-start;

		@media (max-width: 991.98px) {
			align-items: center;
			justify-content: space-between;
			padding: 8px 0px;
		}
	}

	// .rs-header__logo
	&__logo {
		padding: 53px 0px 0px;
		margin-right: 125px;
		transition: padding 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			padding: 30px 0px 0px;
			margin-right: 50px;
		}

		@media (max-width: 991.98px) {
			margin-right: 0px;
			padding: 0;
		}

		._header-scroll & {
			padding: 19px 0px 19px;

			@media (max-width: 991.98px) {
				padding: 0;
			}
		}

		&-big {
			font-weight: 700;
			font-size: 19px;
			letter-spacing: 0.03em;
			color: #2e2e2e;
			white-space: nowrap;
			transition: color 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				font-size: 16px;
			}

			@media (max-width: 1169.98px) {
				font-size: 13px;
			}

			@media (max-width: 991.98px) {
				.menu-open & {
					color: #fff;
				}
			}
		}

		&-small {
			margin-top: 9px;
			font-weight: 400;
			font-size: 14px;
			color: #303030;
			white-space: nowrap;
			transition: color 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				font-size: 12px;
			}

			@media (max-width: 1169.98px) {
				font-size: 12px;
				margin-top: 5px;
			}

			@media (max-width: 991.98px) {
				.menu-open & {
					color: #fff;
				}
			}
		}

		a {
			display: block;
		}
	}
}

.menu {
	@media (min-width: 991.98px) {
		flex-grow: 1;
	}

	// .menu__icon
	&__icon {
		@media (min-width: 991.98px) {
			display: none;
		}

		@media (max-width: 991.98px) {
			position: relative;
			cursor: pointer;
			z-index: 5;
			width: 95px;
			height: 42px;
			border-radius: 50px;
			background: #248af2;
			transition: all 0.3s ease 0s;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;
				color: #fff;
				transition: all 0.3s ease 0s;
				transition-duration: 0.5s;
				transition-behavior: allow-discrete;

				&:first-child {
					display: block;
					opacity: 1;
				}

				&:last-child {
					display: none;
					opacity: 0;
				}
			}

			.menu-open & {
				background-color: #fff;

				span {
					color: #248af2;
				}

				span {
					&:first-child {
						display: none;
						opacity: 0;
					}
					&:last-child {
						display: block;
						opacity: 1;
					}
				}

				@starting-style {
					opacity: 0;
				}
			}
		}
	}

	// .menu__block
	&__block {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media (max-width: 991.98px) {
			position: absolute;
			width: 100%;
			max-height: calc(100vh - 58px);
			top: 100%;
			left: 0;
			transform: translateX(-150%);
			overflow-y: auto;
			overflow-x: hidden;
			background: #248af2;
			color: #fff;
			transition: transform 0.5s ease 0s;
			border-radius: 0px 0px 5px 5px;
			z-index: 99;
			padding: 30px 17px 38px;

			.menu-open & {
				transform: translateX(0%);
			}

			& > * {
				max-width: 728px;
				margin: 0 auto;

				&:not(:last-child) {
					padding-bottom: 20px;
					border-bottom: 1px solid #54a9ff;
					margin-bottom: 20px;
				}
			}
		}
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: center;
		}

		& > li {
			&:not(:last-child) {
				margin-right: 70px;

				@media (max-width: 1439.98px) {
					margin-right: 35px;
				}

				@media (max-width: 1169.98px) {
					margin-right: 25px;
				}

				@media (max-width: 991.98px) {
					margin-right: 0px;
					margin-bottom: 20px;
				}
			}

			& > a {
				padding: 57px 0px 24px;

				@media (max-width: 1439.98px) {
					padding: 35px 0px 20px;
				}

				@media (max-width: 991.98px) {
					padding: 0;
				}

				._header-scroll & {
					padding: 32px 0px 37px;

					@media (max-width: 1439.98px) {
						padding: 30px 0px;
					}

					@media (max-width: 991.98px) {
						padding: 0;
					}
				}
			}
		}

		li {
			position: relative;

			@media (any-hover: hover) {
				&:hover {
					& > a {
						color: #248af2;
					}
				}
			}

			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: all 0.3s ease 0s;
				font-weight: 400;
				font-size: 14px;
				color: #303030;
				position: relative;

				@media (max-width: 991.98px) {
					line-height: 140%;
					color: #fff;
				}
			}
		}

		&.language__list {
			li {
				margin-right: 0px;

				&._select-language {
					a {
						color: #248af2;
						font-weight: 700;

						@media (max-width: 991.98px) {
							color: #fff;
						}
					}
				}

				@media (min-width: 991.98px) {
					&:not(:last-child) {
						a {
							&::after {
								content: " | ";
								font-weight: 400;
								font-size: 14px;
								letter-spacing: 0.03em;
								color: #111;
								display: inline-block;
								vertical-align: middle;
								margin: -3px 3px 0px;
							}
						}
					}
				}

				a {
					letter-spacing: 0.03em;
					color: #111;

					@media (min-width: 991.98px) {
						text-transform: uppercase;
					}

					@media (max-width: 991.98px) {
						color: #fff;
					}

					span {
						&:first-child {
							@media (max-width: 991.98px) {
								display: none;
							}
						}
						&:last-child {
							@media (min-width: 991.98px) {
								display: none;
							}
						}
					}
				}
			}
		}

		&.contact__list {
			@media (min-width: 991.98px) {
				display: none;
			}
		}
	}

	// .menu__dropdown
	&__dropdown {
		&._open-menu {
			@media (min-width: 991.98px) {
				& > .menu__dropdown-list {
					opacity: 1;
					visibility: visible;
					transform: translateY(0px);
					pointer-events: visible;
				}
			}

			& > a > i:before {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}

		@media (any-hover: hover) and (min-width: 991.98px) {
			&:hover {
				& > .menu__dropdown-list {
					opacity: 1;
					visibility: visible;
					pointer-events: visible;
					transform: rotateX(0deg);
					transition: all 700ms ease;
				}
			}
		}
	}

	&__dropdown-arrow {
		@media (min-width: 991.98px) {
			// html:not(.touch) & {
			display: none !important;
			// }
		}

		margin: 0px 0px 0px auto;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 3px;

		&::before {
			content: "";
			min-width: 7px;
			min-height: 14px;
			max-width: 7px;
			max-height: 14px;
			display: block;
			background-image: url("../img/blocks/caret-arrow-right.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: transform 0.3s ease 0s;

			@media (max-width: 991.98px) {
			}
		}
	}

	// .menu__dropdown-list
	&__dropdown-list {
		@media (min-width: 991.98px) {
			position: absolute;
			top: calc(100% - 1px);
			left: -27px;
			min-width: 252px;
			max-width: 252px;
			display: block;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: rotateX(-90deg);
			transform-origin: top;
			transform-style: preserve-3d;
			transition-delay: 0.1s;
			transition-timing-function: ease-in-out;
			transition-duration: 0.3s;
			transition-property: all;
			transition: all 0.3s ease 0s;
			z-index: 15;
			padding: 27px 0px 38px;
			background: #f3f3f3;
			border: 1px solid #000;

			background-image: url("../img/blocks/body_bg.png");
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;

			@media (max-width: 1439.98px) {
				padding: 20px 0px;
			}

			& > li {
				& > .menu__dropdown-list {
					top: 1px;
					left: 100%;
				}
			}
		}

		@media (max-width: 991.98px) {
			margin-top: 20px;
			padding-left: 10px;
		}

		& > li {
			margin: 0;
			padding: 0;

			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}

			& > a {
				padding: 7.7px 28px;
				letter-spacing: -0.01em;

				@media (max-width: 1439.98px) {
					padding: 5px 20px;
				}

				@media (max-width: 991.98px) {
					padding: 0px;
				}
			}
		}
	}
}
