body {
	background-image: url("../img/blocks/body_bg.png");
	background-position: top center;
	background-repeat: repeat;
	background-size: contain;
}

br {
	@media (max-width: 991.98px) {
		display: none;
	}
}

section {
	position: relative;
	overflow: hidden;
	margin: 130px 0px;

	@media (max-width: 1439.98px) {
		margin: 106px 0px;
	}

	@media (max-width: 1169.98px) {
		margin: 82px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 56px 0px;
	}
}

// Text ========================================================================================================================================================
h1 {
	font-weight: 600;
	font-size: 70px;
	letter-spacing: 0.03em;
	line-height: 147%;

	@media (max-width: 1439.98px) {
		font-size: 57px;
	}

	@media (max-width: 1169.98px) {
		font-size: 44px;
	}

	@media (max-width: 991.98px) {
		font-size: 29px;
	}

	span {
		display: block;
		font-weight: 700;
		font-size: 114px;
		letter-spacing: 0.03em;

		@media (max-width: 1439.98px) {
			font-size: 92px;
		}

		@media (max-width: 1169.98px) {
			font-size: 70px;
		}

		@media (max-width: 991.98px) {
			font-size: 48px;
		}
	}
}

h2 {
	font-weight: 600;
	font-size: 46px;
	letter-spacing: 0.03em;
	line-height: 135%;

	@media (max-width: 1439.98px) {
		font-size: 37px;
	}

	@media (max-width: 1169.98px) {
		font-size: 28px;
	}

	@media (max-width: 991.98px) {
		font-size: 20px;
	}

	span {
		display: block;
		font-size: 104px;
		line-height: 90%;
		letter-spacing: 0.03em;

		@media (max-width: 1439.98px) {
			font-size: 92px;
		}

		@media (max-width: 1169.98px) {
			font-size: 70px;
		}

		@media (max-width: 991.98px) {
			font-size: 48px;
		}
	}
}

h4 {
	font-weight: 600;
	font-size: 26px;
	letter-spacing: 0.03em;
	line-height: 150%;

	@media (max-width: 1439.98px) {
		font-size: 22px;
	}

	@media (max-width: 1169.98px) {
		font-size: 18px;
	}

	@media (max-width: 991.98px) {
		font-size: 14px;
	}
}

h6 {
	font-weight: 500;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.03em;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 1169.98px) {
		font-size: 15px;
	}

	@media (max-width: 991.98px) {
		font-size: 14px;
	}
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: 0.03em;
	color: #303030;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 1169.98px) {
		font-size: 15px;
	}

	@media (max-width: 991.98px) {
		font-size: 14px;
		line-height: 155%;
	}
}

// Button ========================================================================================================================================================

.rs-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	z-index: 10;
	border-radius: 5px;

	span {
		display: inline-block;
		padding: 10px 40px;
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.03em;
	}

	.btn__bg {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #248af2;
		border-radius: inherit;
		overflow: hidden;
		z-index: -1;
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);

		&::before,
		&::after {
			content: "";
			position: absolute;
			background: #0066ff;
		}

		&::before {
			width: 110%;
			height: 0;
			padding-bottom: 110%;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
		}

		&::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	&._btn-primary {
		color: #fff;

		.btn__bg {
			background: #248af2;
		}
	}

	&._btn-white {
		color: #248af2;

		.btn__bg {
			background: #fff;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: #fff;

			.btn__bg {
				transform: scale3d(1.2, 1.2, 1);

				&::before {
					transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
					transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
				}

				&::after {
					opacity: 1;
					transition-duration: 0.01s;
					transition-delay: 0.3s;
				}
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;

	&::placeholder {
		color: #727272;
	}

	&._form-focus {
	}

	&._form-error {
		border-color: #eb1320;
	}

	&._form-right {
		border-color: #d2e3f0;
		background-color: #e6fcf5;
	}
}

textarea.rs-input {
	resize: vertical;
	min-height: 215px;
}

// Block  ========================================================================================================================================================
.section-header {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1439.98px) {
		margin-bottom: 24px;
	}

	@media (max-width: 991.98px) {
		margin-bottom: 16px;
	}

	// .section-header__title
	&__title {
		max-width: 700px;
		width: 100%;
	}

	.rs-btn {
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}
